html, body, #root {
  height:100%;
  margin:0;
  padding:0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.page-header {
  background: #111;
  color: white;
  padding: 1rem;
  text-align: center;
}
.map-container{
  flex:1;
  width: 100vw;
  border: 2px dashed red;
}
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
}

